<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>document.write('<base href=" ' + document.location + '">')</script>
    <title>Angular With Webpack</title>
    <meta charset=UTF-8/>
    <meta name=viewport content="width=device-width,initial-scale=1"/>
    <link href="vendor.364ae32efe6b8d86d539.css" rel="stylesheet"/>
</head>
<body>
<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false"
     data-auto-logout-link="true"></div>
<my-app>Loading...</my-app>
<script type="text/javascript" src="polyfills.364ae32efe6b8d86d539.js"></script>
<script type="text/javascript" src="vendor.364ae32efe6b8d86d539.js"></script>
<script type="text/javascript" src="app.364ae32efe6b8d86d539.js"></script>
<script type="text/javascript" src="../static/js/facebook.js" th:src="@{/js/facebook.js}"></script>
</body>
</html>